streamlit
pandas
matplotlib
wordcloud
networkx
janome
python-docx
pypdf
pyvis
scikit-learn
scipy
asari
plotly
openpyxl
tabulate
xlsxwriter
openai
sudachipy
sudachidict_core
pyknp
mecab-python3
ginza
ja_ginza
